@font-face {
    font-family : 'decima_mono_roundregular';
    src         : url('../fonts/dm_round-webfont.woff2') format('woff2'), url('../../fonts/dm_round-webfont.woff') format('woff');
    font-weight : normal;
    font-style  : normal;

}

@font-face {
    font-family : 'decima_mono_roundlight';
    src         : url('../fonts/dm_round_light-webfont.woff2') format('woff2'), url('../../fonts/dm_round_light-webfont.woff') format('woff');
    font-weight : normal;
    font-style  : normal;

}

@font-face {
    font-family : 'decima_mono_roundbold';
    src         : url('../fonts/dm_round_bold-webfont.woff2') format('woff2'), url('../../fonts/dm_round_bold-webfont.woff') format('woff');
    font-weight : normal;
    font-style  : normal;

}
body{
    background:#f4f4f4;
}
.site-icon{
    margin-right:5px;
}
.fontBld{
    font-family: decima_mono_roundbold;
    text-transform:uppercase;
}
.fontLte {
    font-family: decima_mono_roundlight;
    text-transform:uppercase;
}
.navbar{
    margin-bottom:0;
}
.navbar-brand, .navbar-default{
    color:#fff !important;
}
.navbar-nav a{
    color:#fff !important;
}
.pp-top-nav{
    background-color:#16242f;
}
.pp-panel{
    /*border:1px solid #16242f;*/
    border-bottom:none;
    /*border-left:5px solid #16242f;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom:5px;
}
.pp-panel .panel-heading{
    background:#16242f;
    color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.pp-panel .panel-body{
    text-transform:uppercase;
    padding:0;
    background:#dfe0e1;
}

.pp-project{
    color:#16242f;
    border-bottom:1px solid #16242f;
    border-top:1px solid #16242f;
    margin-bottom:5px;
    position:relative;
    z-index:4;
}

.pp-project .pad{
    padding:4px 5px;
}

.pp-project:last-of-type{
    margin-bottom:0;
}

.modal-header{
    border-bottom:1px solid #16242f;
}
.modal-footer{
    border-top:1px solid #16242f;
}
.modal-content{
    font-faimily:decima_mono_roundregular !important;
    text-transform:uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:#8d9499;
    border:1px solid #16242f;
    color:#5f6970;
}

.modal-title{
    color:#000;
}

.form-control{
    border:1px solid #16242f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background:#58636a;
    color:#a2a8ac;
}

.btn-primary {
    color:#a2a8ac;
    background-color: #16242f;
    border-color: #16242f;
}

.btn-primary.active, .btn-default:hover, btn-primary:hover, btn-primary:focus {
    border-color: #16242f;
}

.btn-default {
    color:#a2a8ac;
    background-color: #58636a;
    border-color: #16242f;
}
.dropdown-menu{
    background-color:#a72727;
}
.navbar-default .navbar-nav > .open > a{
    background-color:#776060;
}
.navbar-default .navbar-nav > .open > a:focus{
    background-color:#715e5e;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #6d6b44;
}
.panel-body .badge{
    font-size:10px;
}
.panel-heading .badge{
    font-size:13px;
    background:#fff;
    color:#16242f;
}

.pp-project .badge{
    background:#16242f;
}

.pp-jobs{
    background:#cacccd;
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin:2px 0;
    vertical-align: middle;
    line-height:10px;
}

.pp-jobs .job-name{
    font-size:12px;
    padding:2px 0;
}

.pp-jobs .cal-box{
    height:20px;
    background:#ddd;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.plot-date{
    background:#2a88bd !important;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.pp-jobs .badge{
    background:#2ca02c;
}

.badge{
    vertical-align: text-top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.panel-heading{
    background:#16242f;
    color:#fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    z-index:4;
}

.pp-job-date{
    font-family: decima_mono_roundlight;
    text-transform: uppercase;
    color:#fff;
}
.pp-job-date:hover{
    text-decoration: none;
}
.calendar-bar-wrap{

}
.calendar-bar{
    margin: 5px 0;
    position:sticky;
    top:0;
    z-index:9;
}

.cal-box{
    display:inline-block;
    border:1px solid #fff;
    line-height:34px;
    width:85px;
    text-align: center;
}

.overlay-body{
    position:relative;
    padding:0 14px;
}

.cal-overlay-wrap{
    position:relative;
    width:100%;
}

.cal-overlay{
    width:100%;
    z-index: 3;
    position:absolute;
    top:0;
}

.cal-overlay .cal-box{
    height:80vh;
    background: url('../images/bgi-hash.png') repeat fixed;
    background-size:10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.cal-overlay-bar{
    width:100%;
}

._{
    border:1px dashed red;
}
._ ._{
    border:1px dashed yellow;
}